Django==5.1.5
django-allauth==65.14.3
django-bootstrap5==26.2
django-environ==0.13.0
dj-database-url==3.1.0
psycopg2-binary==2.9.11
gunicorn==25.1.0
whitenoise==6.11.0
Pillow==12.1.1
python-slugify==8.0.4
requests==2.32.3
PyJWT==2.11.0
cryptography>=46.0.5